extends layout

block content
  div#intro
    object#jk-logo(type="image/svg+xml", data="images/jk-logo.svg")
      img(src="images/jk-logo-white.png")

    a#scrollDown.animated-pulse.pulse.infinite(href="#") Go