extends layout

block content
  div#intro
    object#jk-logo(type="image/svg+xml", data="images/jk-logo.svg")
      img(src="images/jk-logo-white.png")
    object#jk-bracket(type="image/svg+xml", data="images/bracket.svg")
      img(src="images/bracket-white.png")
    h1#fed
      | front-end developer
      span |
    a#go(href="javascript:void(0);") Go


  nav#navbar.navbar.navbar-default
    .container
      .row       
        .col-xs-3.bg
          object#nav-jk-logo(type="image/svg+xml", data="images/jk-logo-black.svg")
            img(src="images/jk-logo-black.png")
        .col-xs-9.bg
          ul
            li
              a(href="#") Resume
            li
              a(href="#") Contact


  section#about
    .container
      .row
        .col-lg-10.col-lg-offset-1.col-xs-12
          h2 Hi, I'm 
            b Jamie Kelly
            | , a Canadian front-end developer based in the SF Bay Area with a penchant for code.  For more than a decade I have been converting pizza and caffeine into functional websites.


  section#work-experience
    .container
      .col-lg-1.bg
        i.icon.icon-work-experience
      .col-lg-11.bg
        h3 Work Experience

      .col-lg-3.col-lg-offset-1.col-xs-12
        p August 2013 - Present
      .col-lg-8.col-xs-12
        strong Studio 174 | Owner &amp; Full-stack Developer
        ul 
          li Project management
          li Graphic design, web design, &amp; development
          li Content management &amp; e-commerce development
          li Search engine optimization

      .col-lg-3.col-lg-offset-1.col-xs-12
        p May 2012 - June 2013
      .col-lg-8.col-xs-12
        strong Link Web Development | Full-stack Developer
        ul
          li Content management system development
          li Social media application development
          li E-commerce development
          li Responsive web development &amp; maintenance
          li Wordpress development

      .col-lg-3.col-lg-offset-1.col-xs-12
        p April 2011 - March 2012
      .col-lg-8.col-xs-12
        strong Shawn Knight Systems | PHP Programmer
        ul
          li Content management system development
          li Social media application development
          li E-commerce development
          li Responsive web development &amp; maintenance
          li Wordpress development     


  section#education
    .container
      .col-lg-1
        p icon
      .col-lg-11
        h3 Education

      .col-lg-3.col-lg-offset-1
        p Current
      .col-lg-8
        strong Georgian College | 
          em Interactive Web Design &amp; Development
        p This program prepares graduates for careers as web designers and developers. Students are instructed in the use of current Web and Internet technologies to create innovative, interactive products for a variety of users, platforms, and devices. They are taught to plan, design, and develop engaging and intuitive user interfaces. Courses cover the use of current technologies including but not limited to HTML, CSS, JavaScript, the Document Object Model (DOM), Application Programming Interfaces (APIs), and a variety of popular scripting frameworks. With a focus on user-centred design, students will apply human interface guidelines, standard-based structures, and web design and development principles to create an accessible, usable, and captivating user experience.

      .col-lg-3.col-lg-offset-1
        p 2009 - 2011
      .col-lg-8
        strong Georgian College | 
          em Web Animation &amp; Design
        p The Web Animation and Design program prepares graduates for careers creating Web sites which are dynamic, well-structured and designed to address user needs and to satisfy project goals and objectives. Students are taught about the three streams of Web Design including structure, presentation and behaviour by gaining hands-on experience with a variety of Web technologies and principles. Students will demonstrate a strong ability to create fully accessible Web sites designed for search engines and a variety of users and platforms.   

      .col-lg-3.col-lg-offset-1
        p 2008 - 2009
      .col-lg-8
        strong Georgian College | 
          em Computer Programming
        p This program is designed to meet the academic needs of all students, whether a recent secondary graduate, college or university graduate, or a mature student. As students progress through the two years, the courses they take will help them gain insight and experience in the fields in which they may choose to apply their computer skills after graduation. A structured approach to problem solving, effective oral and written communications, and attention to standards and documentation are stressed throughout. Industry trends and requirements are continually monitored to ensure curriculum remains current and relevant. 



  //- section#skills-techniques
  //-   .container
  //-     .col-lg-1
  //-       p icon
  //-     .col-lg-11
  //-       h3 Skills &amp; Techniques

  //-     .col-lg-5.col-lg-offset-1
  //-       p DEVELOPMENT
  //-       b Programming Languages
  //-       ul
  //-         li HTML5
  //-         li CSS 3

  //-     .col-lg-5
  //-       p OTHER
  //-       b Self-Management
  //-       ul
  //-         li Manage stuff
  //-         li do things
  //-         li fail more than I succeed

  //-     .col-lg-5.col-lg-offset-1
  //-       p DEVELOPMENT
  //-       b Programming Languages
  //-       ul
  //-         li HTML5
  //-         li CSS 3

  //-     .col-lg-5
  //-       p OTHER
  //-       b Self-Management
  //-       ul
  //-         li Manage stuff
  //-         li do things
  //-         li paul blart


  //- section#awards-recognition
  //-   .container
  //-     .col-lg-1
  //-       p icon
  //-     .col-lg-11
  //-       h3 Awards &amp; Recognition

  //-     .col-lg-1.col-lg-offset-1
  //-       p 2010
  //-     .col-lg-10
  //-       p Scholarship from the School of Design and Visual Arts

  //-     .col-lg-1.col-lg-offset-1
  //-       p 2010
  //-     .col-lg-10 
  //-       p Georgian College Award of Excellence in Web Design