extends layout

block content
  header#intro   

    img#jk-logo(src="images/jk-logo-white.svg", alt="Jamie Kelly")
    img#jk-bracket(src="images/bracket.svg", alt="Full-stack Web Development") 
    h1#fed
      | front-end developer
      span |

    a#go(href="#about") Go


  nav#navbar.navbar.navbar-default
    .container
      .row       
        .col-xs-3
          .nav-logo
            a(href="#intro")
              img#nav-jk(src="images/jk-logo-black.svg", alt="Jamie Kelly")
              img#nav-bracket(src="images/bracket-black.svg", alt="Full-stack Web Development")

            h2
              | web developer
              span |
        .col-xs-9
          ul
            li 
              a#resume(href="#work-experience") Resume 
            li
              a#contact(href="#footer") Contact


  div#about
    .container
      .row
        .col-lg-10.col-lg-offset-1.col-xs-12
          p Hi, I'm 
            b Jamie Kelly
            | , a Canadian full-stack developer based in the SF Bay Area with a penchant for code.  Since 2011, I have been converting pizza and caffeine into functional websites.


  section#work-experience
    .container
      .row.wow.fadeInUp
        .col-xs-3.col-sm-1.col-lg-1.no-padding-right
          i.icon.icon-work-experience
        .col-xs-9.col-sm-11.col-lg-11.no-padding-left
          h3 Work Experience

      .row.spacer.wow.fadeInUp  
        .col-sm-3.col-sm-offset-1.col-lg-3.col-lg-offset-1
          p 2017 - Present
        dl.col-sm-8.col-lg-8.col-xs-12
          dt
            strong Tesla, Inc. | 
              em Software Engineer
            dd Design Studio maintenance &amp; feature development for desktop &amp; mobile experience
            dd Development for new &amp; experimental Tesla products
            dd Desktop &amp; mobile financial service layer maintenance for all Tesla markets
            dd Feature development of internal admin tools and PDF documents
            dd Desktop Design Studio staffing and resource management

      .row.spacer.wow.fadeInUp  
        .col-sm-3.col-sm-offset-1.col-lg-3.col-lg-offset-1
          p 2013 - 2016
        dl.col-sm-8.col-lg-8.col-xs-12
          dt
            strong Studio 174 | 
              em Full-Stack Developer
          dd Project management
          dd Graphic design, web design, &amp; development
          dd Content management &amp; e-commerce development
          dd Search engine optimization
          dd Search engine marketing          
      
      .row.spacer.wow.fadeInUp
        .col-sm-3.col-sm-offset-1.col-lg-3.col-lg-offset-1
          p 2012 - 2013
        dl.col-sm-8.col-lg-8.col-xs-12
          dt
            strong Link Web Development | 
              em Full-Stack Developer 
          dd Content management system development
          dd Social media application development
          dd E-commerce development
          dd Responsive web development &amp; maintenance
          dd Wordpress development 

      .row.spacer.wow.fadeInUp
        .col-sm-3.col-sm-offset-1.col-lg-3.col-lg-offset-1
          p 2011 - 2012
        dl.col-sm-8.col-lg-8.col-xs-12
          dt
            strong Affordable Computer Techs | 
              em Web Designer &amp; Developer
          dd Website design
          dd Website development
          dd Project management
          dd Search engine optimization
          dd Search engine marketing      


  section#education
    .container
      .row.wow.fadeInUp
        .col-xs-3.col-sm-1.col-lg-1.no-padding-right
          i.icon.icon-education                   
        .col-xs-9.col-sm-11.col-lg-11.no-padding-left
          h3 Education

      .row.spacer.wow.fadeInUp
        .col-sm-3.col-sm-offset-1.col-lg-3.col-lg-offset-1
          p 2016
        dl.col-sm-8.col-lg-8.col-xs-12
          dt
            strong Georgian College | 
              em Interactive Web Design &amp; Development
          dt.subtitle Ontario College Diploma, Co-op
          dd.list-item Advanced server-side scripting
          dd.list-item Advanced client-side scripting
          dd.list-item Bitmap &amp; vector graphics
          dd.list-item User experience &amp; interaction design
          dd.list-item Web usability &amp; accessibility          

      .row.spacer.wow.fadeInUp
        .col-sm-3.col-sm-offset-1.col-lg-3.col-lg-offset-1
          p 2009 - 2011
        dl.col-sm-8.col-lg-8.col-xs-12
          dt
            strong Georgian College | 
              em Web Animation &amp; Design
          dd
            ul.two-column
              li Information architecture
              li Design principles
              li 2D animation
              li Web design
              li Understanding the web
              li Client management &amp; professional practices
              li Animation 2D &amp; 3D
              li Server-side scripting
              li Web content development
              li Web standards
          
      .row.spacer.wow.fadeInUp
        .col-sm-3.col-sm-offset-1.col-lg-3.col-lg-offset-1
          p 2008 - 2009
        dl.col-sm-8.col-lg-8.col-xs-12
          dt.title
            strong Georgian College | 
              em Computer Programmer
          dd.list-item Computer programming concepts
          dd.list-item Web development
          dd.list-item Web programming
          dd.list-item Data organization
          dd.list-item Relational database
          dd.list-item Math for computer industry
          dd.list-item Introduction to Java


  section#skills-techniques
    .container
      .row.wow.fadeInUp
        .col-xs-3.col-sm-1.col-lg-1.no-padding-right
          i.icon.icon-skills
        .col-xs-9.col-sm-11.col-lg-11.no-padding-left
          h3 Skills &amp; Techniques

      .row.spacer.wow.fadeInUp
        .col-lg-11.col-lg-offset-1
          h4
            i.icon.icon-development
            | Development

        .col-sm-7.col-lg-6.col-lg-offset-1
          strong Languages
          ul
            li 
              b JavaScript: 
              | ES6, AJAX, jQuery, AngularJS, ReactJs, CoffeeScript, JSON
            li 
              b PHP: 
              | CakePHP, Laravel, Lumen, Wordpress
            li 
              b HTML: 
              | Jade, Bootstrap, Materialize, Blade
            li 
              b CSS: 
              | Sass, Less
            li 
              b Database: 
              | MySQL, MongoDB &amp; Mongoose
            li Unix Shell Scripting, Python

        .col-sm-5.col-lg-5
          strong Environment
          ul
            li Node.js            
            li MongoDB, ExpressJS, AngularJS, NodeJS, (MEAN)
            li WHM / cPanel            
            li Windows/Linux, Apache, MySQL, PHP (WAMP/LAMP)
            li Heroku
            li Agile
            

      .row.wow.fadeInUp
        .col-sm-7.col-lg-6.col-lg-offset-1
          strong Techniques
          ul.two-column
            li 508 Accessibility Compliance
            li Model View Controller (MVC/MVVC)
            //- li Model View ViewModel Controller (MVVC)
            li Performance Optimization
            li SEO / SEM
            //- li Search Engine Optimization / Marketing
            //- li Search Engine Optimization (SEO) 
            li Unobtrusive JavaScript            
            //- li Asynchronous JavaScript &amp; XML (AJAX)
            li Semantic Web
            li User Interface &amp; Experience (UI/UX)
            //- li User Interface (UI)
            //- li Website Audits
            li Usability            
            li W3C Standards Compliance
            li RESTful API design &amp; interfacing
            li Flux Architecture (Redux)
            li Test Driven Development

         .col-sm-5.col-lg-5
            strong Tools
            ul.two-column
              li Sublime Text 3
              li Grunt, Gulp, Webpack
              li ConEmu / iTerm
              li Adobe Photoshop, Balsamiq
              //- li Filezilla
              //- li Slack Chat / Mattermost
              li Jira
              li Git
              li HeidiSQL / Sequel Pro
              //- li Piwik
              //- li Balsamiq
              li Putty
              li Google: Webmaster Tools, Analytics, AdWords, Keyword Planner
              //- li phpunit mocha chai supertest
            
            

      .row.spacer.wow.fadeInUp
        .col-lg-11.col-lg-offset-1
          h4
            i.icon.icon-other
            | Other          
        .col-sm-7.col-lg-6.col-lg-offset-1
          strong Projects I've Developed
          ul.two-column
            li Ecommerce platforms
            li Content management systems
            li Blogging software            
            li Single page web applications
            li Dynamic survey software
            li Accounting software
            li Work order management systems
            li Online billing systems
            li Real estate software
            li Game server management software
            li Customer relationship management systems
      
        .col-sm-5.col-lg-5    
          strong Self-Management
          ul
            li Manage multiple projects simultaneously
            li Easily learn new software and programming languages
            li Highly resourceful and efficient
            li Cooperative and observant
            li Strong attention to detail



  section#awards-recognition
    .container
      .row.wow.fadeInUp
        .col-xs-3.col-sm-1.col-lg-1.no-padding-right
          i.icon.icon-awards
        .col-xs-9.col-sm-11.col-lg-11.no-padding-left
          h3 Awards &amp; Recognition
      
      .row.wow.fadeInUp
        .col-sm-2.col-sm-offset-1.col-lg-1.col-lg-offset-1
          p 2010
        .col-sm-9.col-lg-10
          strong Scholarship from the School of Design and Visual Arts
      
      .row.wow.fadeInUp
        .col-sm-2.col-sm-offset-1.col-lg-1.col-lg-offset-1
          p 2010
        .col-sm-9.col-lg-10.col-lg-10 
          strong Georgian College Award of Excellence in Web Design