doctype html
html.no-js(lang="en")
  head
    title Jamie Kelly - Full-Stack Web Developer | Kellyjg.com
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900%7CNoto+Serif:700,400", rel="stylesheet", type="text/css")
    //- lib
    // bower:css
    
    // endbower

    //- app
    link(rel="stylesheet", href="css/app.css")        
    script.
        document.documentElement.className = 'fouc';    
  body
    
    <!--[if lte IE 8]>
    .container
      .row
        .col-lg-12
          .alert.alert-warning
            strong Warning:
              | You are using an 
              strong outdated
              |  browser. Please 
              a(href="http://browsehappy.com/", target="_blank", rel="nofollow") upgrade your browser
              |  to improve your experience.
    <![endif]-->

    block content

    footer#footer
        div#oj
          p.text-center
            i.icon.icon-copyright
            span Jamie Kelly
        .container
            .row
                .col-lg-8.col-lg-offset-1
                    div#contact-info
                        p Interested in working together?
                            br
                            | Email me at jamie@kellyjg.com
                        div#social
                            a(href="https://github.com/studio174", target="_blank", rel="nofollow")
                                i.icon.icon-github
                            a(href="https://ca.linkedin.com/in/jamie-kelly-02652721", target="_blank", rel="nofollow")
                                i.icon.icon-linkedin
                            a(href="https://twitter.com/Studio_174", target="_blank", rel="nofollow")
                                i.icon.icon-twitter    


    //- lib
    // bower:js
    script(src='js/lib.js')
    // endbower
    
    //- app
    //- script(src='js/app.js') 
    script(src='js/app2.js')
    // livereload