doctype html
html
  head
    title Jamie Kelly - Full-Stack Web Developer | Kellyjg.com
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Serif:700,400", rel="stylesheet", type="text/css")
    script.
        document.documentElement.className = 'no-js';    

    //- lib
    // bower:css
    link(rel='stylesheet', href='../bower_components/animate.css/animate.css')
    // endbower

    //- app
    link(rel="stylesheet", href="css/app.css")
  body
    block content

    footer#footer
        div.oj
          p.text-center
            i.icon.icon-copyright
            span Jamie Kelly
        .container
            .row
                .col-lg-8.col-lg-offset-1
                    div#contact-info
                        p Interested in working together?
                            br
                            | Email me at jamie@kellyjg.com
                        a(href="https://github.com/studio174", target="_blank")
                            i.icon.icon-github
                        a(href="https://twitter.com/Studio_174", target="_blank")
                            i.icon.icon-linkedin
                        a(href="https://ca.linkedin.com/in/jamie-kelly-02652721", target="_blank")
                            i.icon.icon-twitter    
          


    //- lib
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src='../bower_components/wow/dist/wow.js')
        
    //- app
    script(src='js/app.js')
    script(src='//localhost:35729/livereload.js')